*, ::after, ::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  font-size: 16px;
  color: #212529;
}

h1 {
  font-size: 8rem;
  line-height: 1.2em;
  letter-spacing: 10%;
  font-weight: bold;
}

h2 {
  font-size: 4rem;
  line-height: 1em;
  letter-spacing: 10%;
  font-weight: 600;
  margin-block: var(--spc-l);
}

h3 {
  font-size: 2rem;
  line-height: 0.9em;
}

h4 {
  font-size: 1.5rem;
  line-height: 0.9em;
}

p, label {
  font-size: 1rem;
  line-height: 1.6em;
}

.quote {
  font-size: 8rem;
  font-weight: bold;
}

.dancing-script {
  font-family: 'Dancing Script', cursive;
}

html {
  --bg-color:#E6C9C0;
  --bg-light-color:#DEE2E6;
  --bg-light-interaction-color:#cbced1;
}

.light-border {
  color: #212529;
  opacity: 50%;
}

.svg {
  width: 50px;
  height: 50px;
}

html {
  --spc-xl:4rem;
  --spc-l:3rem;
  --spc-m:2rem;
  --spc-s:1rem;
  --spc-xs:0.5rem;
  --spc-xxs:0.25rem;
}

.button {
  max-width: 400px;
  background-color: var(--bg-light-color);
  border: 0;
  padding-block: var(--spc-s);
  padding-inline: var(--spc-m);
}

.button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: var(--bg-light-interaction-color);
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.background {
  background-color: var(--bg-color);
}

.container {
  max-width: clamp(200px, 93vw, 1200px);
  margin: 0 auto;
}

.page {
  height: 100vh;
  width: 100%;
  -webkit-padding-after: var(--spc-l);
          padding-block-end: var(--spc-l);
  -webkit-padding-before: var(--spc-l);
          padding-block-start: var(--spc-l);
}

.horizontal-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ul-list {
  list-style: none;
}

.ul-list a {
  text-decoration: none;
  color: #212529;
}

.ul-list li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.content {
  padding: 1rem;
}

.sticky + .content {
  padding-block: 102px;
}

.aside-heading {
  line-height: 0.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-padding-before: var(--spc-m);
          padding-block-start: var(--spc-m);
  -webkit-padding-after: var(--spc-m);
          padding-block-end: var(--spc-m);
  -webkit-margin-after: var(--spc-l);
          margin-block-end: var(--spc-l);
}

.aside-heading .svg {
  width: 1.5rem;
  height: 1.5rem;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  opacity: 30%;
  padding: 0;
  margin: 0;
}

.aside-heading {
  -webkit-border-after: 1px solid #21252915;
          border-block-end: 1px solid #21252915;
}

.hero-width-limit {
  max-width: clamp(200px, 100%, 1200px);
  margin: 0 auto;
}

.hero-page {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
}

.hero-page main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: var(--spc-l);
  min-height: 70vh;
}

.hero-page main .buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-page header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-block: var(--spc-m);
}

.hero-page header ul {
  gap: var(--spc-m);
}

.hero-page .hero {
  position: relative;
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding-inline: var(--spc-m);
  padding-block: var(--spc-m);
  border: 5px solid var(--bg-light-color);
}

.hero-page .hero::before {
  content: "Lucius Valena";
  position: absolute;
  top: 0;
  left: 2rem;
  background-color: var(--bg-light-color);
  padding-block: var(--spc-xs);
  padding-inline: var(--spc-m);
}

.skills-page {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content auto;
      grid-template-columns: -webkit-min-content auto;
      grid-template-columns: min-content auto;
}

.skills-page h2 {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.skills-page main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.skills-page .skills-hero {
  width: 100%;
  height: 100%;
  max-height: 30vh;
  max-width: 40vw;
}

.skills-page .skills-hero img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 50%;
}

.skills-page .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--spc-m);
  width: 100%;
}

.skills-page .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--spc-xs);
  max-width: clamp(40vw, 100%, 60vw);
}

.skills-page .text h2 {
  display: block;
}

.skills-page .skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--spc-m);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills-page .skill h3 {
  font-size: 2.5rem;
}

.skills-page .skill p {
  max-width: 40vw;
}

.my-story-page {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: var(--spc-m);
}

.my-story-page main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--spc-xl);
}

.my-story-page main p {
  max-width: 40vw;
}

.my-story-page main .paras {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--spc-m);
}

.image img {
  width: 100%;
  height: 100%;
  max-width: 50vw;
  max-height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 50%;
}

.svg {
  width: 50px;
  height: 50px;
}

.contact-me-page {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: var(--spc-m);
}

.contact-me-page .image {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  height: 100%;
}

.contact-me-page .image img {
  width: 100%;
  height: 100%;
}

.contact-me-page h3 {
  -webkit-margin-before: var(--spc-l);
          margin-block-start: var(--spc-l);
}

.contact-me-page main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--spc-m);
}

.contact-me-page main .contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--spc-m);
}

.contact-me-page main label, .contact-me-page main p {
  font-size: 2rem;
}

.contact-me-page .input-field {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 1400px) {
  .image {
    max-height: 100vh;
  }
}

.social-handles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

span {
  font-size: 16rem;
  padding: 0;
  margin: 0;
}

.testimonials-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.testimonials-page .testimonial-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.testimonials-page .testimonial-header h2 {
  display: block;
  max-width: 50vw;
}

.testimonials-page main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--spc-l);
}

.testimonials-closure {
  text-align: center;
}

.testimonials-closure p {
  font-size: 2rem;
}

.testimonial {
  height: clamp(200px, 10%, 300px);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: var(--spc-m);
}

.testimonial p {
  max-width: 40vw;
}

.testimonial img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.experience-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.experience-page h2 {
  text-align: center;
}

.experience-page main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.experiences {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: var(--spc-s);
  margin-block: var(--spc-m);
  -webkit-margin-after: var(--spc-l);
          margin-block-end: var(--spc-l);
}

.experiences {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.experience {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--spc-m);
}

.experience .horizontal {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  font-size: 1.4rem;
}

.experience .exp-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--spc-s);
  max-width: clamp(30vw, -webkit-min-content, 40vw);
  max-width: clamp(30vw, -moz-min-content, 40vw);
  max-width: clamp(30vw, min-content, 40vw);
}

.experience .exp-hero {
  width: 100%;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.experience .exp-hero img {
  width: 100%;
  height: 100%;
  opacity: 70%;
  max-height: 20vh;
  max-width: 30vw;
  -o-object-fit: cover;
     object-fit: cover;
}

.image-responsive {
  display: none;
}

.experience:nth-of-type(2n) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 11px;
  }
}

@media screen and (max-width: 400px) {
  html {
    font-size: 9px;
  }
  .svg {
    height: 30px;
    width: 30px;
  }
}

@media screen and (min-width: 700px) {
  .image-responsive {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */