// Reset 
*, ::after, ::before  {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


// Typography 
html {
    font-size: 16px;
    color: #212529;
}



h1 {
    font-size: 8rem;
    line-height: 1.2em;
    letter-spacing: 10%;
    font-weight: bold;
}

h2 {
    font-size: 4rem;
    line-height: 1em;
    letter-spacing: 10%;
    font-weight:600;

    margin-block: var(--spc-l);
}

h3 {
    font-size: 2rem;
    line-height: 0.9em;
}

h4 {
    font-size: 1.5rem;
    line-height: 0.9em;
}


p, label {
    font-size: 1rem;
    line-height: 1.6em;
}


.quote {
    font-size: 8rem;
    font-weight: bold;
}

.dancing-script {
    font-family: 'Dancing Script', cursive;
}

// Colors 
html {
    --bg-color:#E6C9C0;
    --bg-light-color:#DEE2E6;

    --bg-light-interaction-color:#cbced1;

}

.light-border {
    color: #212529;
    opacity: 50%;
}

.svg {
    width: 50px;
    height: 50px;
}

// Spacing 
html {
    --spc-xl:4rem;
    --spc-l:3rem;
    --spc-m:2rem;
    --spc-s:1rem;
    --spc-xs:0.5rem;
    --spc-xxs:0.25rem;

}


// Buttons and Interactions 
.button {

    max-width: 400px;

    background-color: var(--bg-light-color);
    border: 0;

    padding-block: var(--spc-s);
    padding-inline: var(--spc-m);

    &:hover {
        transform: scale(1.1);
        background-color: var(--bg-light-interaction-color);
        transition: 0.1s ease-in;

    }
}

// Utility 
.center {
    justify-content: center;
    align-items: center;
}

.background {
    background-color: var(--bg-color);
}

.container {
    max-width: clamp(200px, 93vw, 1200px);
    margin: 0 auto;
}

.page {
    height: 100vh;
    width: 100%;

    padding-block-end: var(--spc-l);
    padding-block-start: var(--spc-l);

    
}

.horizontal-flex {
    display: flex;
    align-items: center;
}

.ul-list {
    list-style: none;

    a {
        text-decoration: none;
        color: #212529;
    }

    li:hover {
        transform: scale(1.1);
        transition: 0.1s ease-in;
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.content {
    padding: 1rem;
}

.sticky + .content {
    padding-block: 102px;
}

.aside-heading {
    line-height: 0.5;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;

    writing-mode: vertical-lr;

    padding-block-start: var(--spc-m);
    padding-block-end: var(--spc-m);

    margin-block-end: var(--spc-l);



    .svg {
        width: 1.5rem;
        height: 1.5rem;

        transform: rotate(270deg);

        opacity: 30%;
        padding: 0;
        margin: 0;
    }

  }

.aside-heading {
    border-block-end: 1px solid #21252915;
}



// .aside-heading {
//     display: flex;
//     justify-self: center;
//     position: relative;  


// }




// Elements


.hero-width-limit {
    max-width: clamp(200px, 100%, 1200px);
    margin: 0 auto;
}

.hero-page {

    display: grid;
    grid-template-rows: auto 1fr;

    main {    
        display: flex;
        flex-direction: column;

        justify-content: center;

        gap: var(--spc-l);     
        
        min-height: 70vh;

        .buttons {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            
        }
    }

    header {
        justify-content: space-between;

        padding-block: var(--spc-m);

        ul {
            gap: var(--spc-m);
        }
    }

    .hero {
        position: relative;
        display: grid;
        place-items: center;


        padding-inline: var(--spc-m);
        padding-block: var(--spc-m);
        border: 5px solid var(--bg-light-color);

        
    }

    .hero::before{
        content: "Lucius Valena";

        position: absolute;
        top: 0;
        left: 2rem;

        background-color: var(--bg-light-color);
        
        padding-block: var(--spc-xs);
        padding-inline: var(--spc-m);
    }
}


// Skills page 

.skills-page {
    display: grid;
    grid-template-columns: min-content auto;

    h2 {
        display: grid;
        place-items: center;
    }


    main {
        display: flex;
        flex-direction: column;

        justify-content: space-around;
    }

    .skills-hero {
        width: 100%;
        height: 100%;

        max-height: 30vh;
        max-width: 40vw;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;

            opacity: 50%;
        }

    }

    .skills {
        display: flex;
        flex-direction: column;

        gap: var(--spc-m);

        width: 100%;
    }

    .text {
        display: flex;
        flex-direction: column;
        gap: var(--spc-xs);

        max-width: clamp(40vw, 100%, 60vw);

        h2 {
            display: block;
        }


    }

    .skill {
        display: flex;
        gap: var(--spc-m);
        
        justify-content: center;
        align-items: center;

        h3 {
            font-size: 2.5rem;
        }

        p {
            max-width: 40vw;
        }




        // flex-direction: column;
        // gap: var(--spc-xs);

        // width: 100%;

        // max-width: clamp(60vw, 100%, 80vw);

        // background-color: var(--bg-light-color);
        // padding-inline: var(--spc-m);
        // padding-block:var(--spc-s);

        // h2 {
        //     display: block;
        //     text-align: left;
        // }
    }
}

// My story
.my-story-page {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spc-m);

    main {
        display: flex;
        flex-direction: column;
        gap: var(--spc-xl);

        p {
            max-width: 40vw;     
        }

        .paras {
            display: flex;
            flex-direction: column;
            gap: var(--spc-m);
        }
    }
}

.image img {
    width: 100%;
    height: 100%;

    max-width: 50vw;
    max-height: 100vh;

    object-fit: cover;

    opacity: 50%;
}

// Reach me 
.svg {
    width: 50px;
    height: 50px;
}

.contact-me-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spc-m);

    .image {
        flex-grow: 1;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
        }
    }

    h3 {
        margin-block-start: var(--spc-l);
    }

    main {
        display: flex;
        flex-direction: column;

        gap: var(--spc-m);

        .contact-form {
            display: flex;
            flex-direction: column;
            gap: var(--spc-m);
        }

        label, p {
            font-size: 2rem;
        }


    }
    .input-field {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}




@media screen and (max-width:1400px){
    .image {
        max-height: 100vh;
    }
}

.social-handles {
    display: flex;
    justify-content: space-around;
}

// Testimonials Page

// Span
span {
    font-size: 16rem;
    padding: 0;
    margin: 0;
}

.testimonials-page {
    display: flex;

    .testimonial-header {
        display: flex;
        align-items: center;
        justify-content: space-around;

        h2 {
            display: block;
            max-width: 50vw;
        }
    }

    main {
        flex-grow: 1;    
        display: flex;
        flex-direction: column;
        
        align-items: center;
        justify-content: space-around;
    }
}

.testimonials {

    display: flex;
    flex-direction: column;
    gap: var(--spc-l);
}

.testimonials-closure {
    text-align: center;
    p {
        font-size: 2rem;
    }
}

.testimonial {

    height: clamp(200px, 10%, 300px);
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    gap: var(--spc-m);

    p {
        max-width: 40vw;
    }


    img {
        height: 80px;
        width: 80px;
        border-radius: 50%;

        object-fit: cover;
    }
}

// Experience
.experience-page {
    display: flex;

    h2 {
        text-align: center;
    }
}

.experience-page main {
    display: flex;
    flex-direction: column;

}


.experiences {
    display: flex;
    flex-direction: column;

    justify-content: space-around;
    gap: var(--spc-s);

    margin-block: var(--spc-m);
    margin-block-end: var(--spc-l);

}

.experiences {
    flex-grow: 1;
}

.experience {

    display: flex;
    align-items: center;
    
    gap: var(--spc-m);

    .horizontal {
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        font-size: 1.4rem;
    }

    .exp-text {
        display: flex;
        align-items: center;

        gap: var(--spc-s);

        max-width: clamp(30vw, min-content, 40vw);
    }

    .exp-hero {
        width: 100%;
        height: 100%;

        flex-grow:1;

        img {
            width: 100%;
            height: 100%;

            opacity: 70%;

            max-height: 20vh;
            max-width: 30vw;

            object-fit: cover;
        }
    }


}

.image-responsive {
    display: none;
}

.experience:nth-of-type(2n) {
    flex-direction: row-reverse;
}

// Responsiveness
@media screen and (max-width: 1200px) {
    html {
        font-size: 14px;
    }
}


@media screen and (max-width: 600px) {
    html {
        font-size: 11px;
    }

}

@media screen and (max-width: 400px) {
    html {
        font-size: 9px;
    }

    .svg {
        height: 30px;
        width: 30px;
    }
}

@media screen and (min-width:700px) {
    .image-responsive {
        display: block;
    }
}
